
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <p>Search:
        <input ng-model="query">
      </p>
      <p>Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>
    </div>
  </div>
</div>
<div class="col-md-10">
  <ul class="recipes">
    <li ng-repeat="recipe in recipes | filter:query | orderBy:orderProp" class="thumbnail"><a href="#/recipe/{{recipe.id}}" class="thumb"><img ng-src="/img{{recipe.imageUrl}}"></a><a href="#/recipe/{{recipe.id}}">{{recipe.name}}</a>
      <p>{{recipe.descr}}</p>
    </li>
  </ul>
</div>